tmp
**/crosstool-ng
**/x-tools
**/gcc-arm-none-eabi-*
**/u-boot*
labs/**/*.tar.gz
**/linux*
**/busybox*

**/*.img
**/thirdparty/alsa-*
**/thirdparty/*lib*
**/thirdparty/staging
**/thirdparty/target
**/tinysystem/nfsroot/
**/thirdparty/*vorbis-tools*

**/buildroot